<section class="features">
  <div class="container">
    <article class="features__card featuresCard featuresCard_first row align-items-center">
      <div class="featuresCard__info col-md-6">
        <h3 class="featuresCard__title title">
          Does Partner&trade; Stop Ice Dams From Forming?
        </h3>
        <p class="featuresCard__text text">
          Partner&trade; offers protection against ice dams in 4 different ways:
          No clogged gutters in winter, angled so snow slides off and
          doesn&rsquo;t freeze, snow melt drains and guards are made from steel
          to stop &ldquo;buckling&rdquo;.
        </p>
      </div>
      <picture class="featuresCard__picture featuresCard__picture_first col-md-6">
        <source srcset="img/features-01.png" media="(max-width: 767px)" />
        <source srcset="img/features-01@x2.png" media="(min-width: 768px)" />
        <img
          src="img/features-01.png"
          class="featuresCard__img img-fluid"
          alt="features 01"
          width="540"
          height="300"
        />
      </picture>
    </article>

    <article class="features__card featuresCard row align-items-center">
      <div class="featuresCard__info col-md-6">
        <h3 class="featuresCard__title title">
          Can Partner&trade; Handle Heavy Rains?
        </h3>
        <p class="featuresCard__text text">
          Yes, absolutely. Our gutter guards are installed across America –
          including in areas with torrential downpours and hurricanes!
        </p>
      </div>
      <picture class="featuresCard__picture col-md-6">
        <source srcset="img/features-02.png" media="(max-width: 767px)" />
        <source srcset="img/features-02@x2.png" media="(min-width: 768px)" />
        <img
          src="img/features-02.png"
          class="featuresCard__img img-fluid"
          alt="features 02"
          width="540"
          height="300"
        />
      </picture>
    </article>

    <article class="features__card featuresCard row align-items-center">
      <div class="featuresCard__info col-md-6">
        <h3 class="featuresCard__title title">
          What If Leaves & Debris Simply Pile Up On Top Of Partner?
        </h3>
        <p class="featuresCard__text text">
          Partner&trade; is installed at an ideal angle so debris slides right off,
          never builds up on top of the filter guards and stops water from
          overshooting the gutter.
        </p>
      </div>
      <picture class="featuresCard__picture col-md-6">
        <source srcset="img/features-03.png" media="(max-width: 767px)" />
        <source srcset="img/features-03@x2.png" media="(min-width: 768px)" />
        <img
          src="img/features-03.png"
          class="featuresCard__img img-fluid"
          alt="features 03"
          width="540"
          height="300"
        />
      </picture>
    </article>
  </div>
</section>