.footer {
	padding: 25px 0;
	background-color: $green;

	&__logoLink {
		@media screen and (max-width: 991px) {
			margin-bottom: 25px;
		}
	}

	&__listLink {
		margin-top: -7.5px;
		margin-bottom: -7.5px;
		font-size: 14px;
		line-height: 17px;

		@media screen and (max-width: 991px) {
			width: 100%;
		}
	}

	&__itemLink {
		padding-top: 7.5px;
		padding-bottom: 7.5px;
	}

	&__link {
		font-family: $ff-medium;
		font-size: 14px;
		line-height: 17px;
		color: $white;
		text-decoration: underline;

		@media (hover: hover) {
			&:hover {
				opacity: .75;
				color: $white;
			}
		}

		@media (hover: none) {
			&:active {
				opacity: .75;
				color: $white;
			}
		}
	}

	&__copyText {
		font-family: $ff-medium;
		font-size: 12px;
		line-height: 18px;
		color: $white;
		
		@media screen and (max-width: 991px) {
			margin-top: 25px;
		}
	}
}