<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Siren Group Test</title>
    <link rel="stylesheet" href="css/vendors/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="page">
      <!--HEADER START-->
      @@include('../components/header/header.html')
      <!--HEADER END-->

      <main class="content">
        <!--HERO BLOCK START-->
        @@include('../components/hero/hero.html')
        <!--HERO BLOCK END-->

        <!--FEATIRES BLOCK START-->
        @@include('../components/features/features.html')
        <!--FEATIRES BLOCK END-->

        <!--ABOUT BLOCK START-->
        @@include('../components/about/about.html')
        <!--ABOUT BLOCK END-->

        <!--WARRANTY BLOCK START-->
        @@include('../components/warranty/warranty.html')
        <!--WARRANTY BLOCK END-->

         <!--ADDINFO BLOCK START-->
         @@include('../components/addInfo/addInfo.html')
         <!--ADDINFO BLOCK END-->
      </main>

      <!--FOOTER START-->
      @@include('../components/footer/footer.html')
      <!--FOOTER END-->
    </div>
    <script src="js/vendors/jquery.slim.min.js"></script>
    <script src="js/vendors/popper.min.js"></script>
    <script src="js/vendors/bootstrap.bundle.min.js"></script>
  </body>
</html>
