<section class="warranty">
  <div class="container">
    <div class="warranty__card d-flex flex-column flex-md-row align-items-center">
      <picture
        class="warranty__picture flex-shrink-0 d-flex justify-content-center align-items-center mb-3 mb-md-0 mr-0 mr-md-4"
      >
        <source srcset="img/warranty.png" media="(max-width: 768px)" />
        <source srcset="img/warranty@x2.png" media="(min-width: 768px)" />
        <img
          src="img/warranty.png"
          class="warranty__img img-fluid"
          alt="warranty"
          width="255"
          height="240"
        />
      </picture>
      <div class="warranty__info w-100 py-0 py-md-4">
        <h3 class="warranty__title title text-center text-md-left">
          <strong>Lifetime</strong> Warranty
        </h3>
        <p class="warranty__text text text-center text-md-left">
          With our lifetime, transferable warranty, you&rsquo;ll enjoy the peace
          of mind that Partner&trade; will last as long as you own your home.
        </p>
      </div>
    </div>
  </div>
</section>