<section class="about">
	<div class="container">
		<h3 class="about__title title text-center">How We Keep Low Prices</h3>
		<p class="about__text text text-center">
			We are the only installer of Partner&trade; in the United States,
			providing homeowners with one single point of contact for sales and
			service. By not relying on an independent dealer network, we are able to
			maintain a high level of quality control and service. And, since there is
			no middle man, we pass the savings on to you!
		</p>
		<div class="about__list row">
			<div class="about__card aboutCard col-sm-6 col-lg-3">
				<div class="aboutCard__wrapper h-100">
					<img src="img/about-01.png" class="aboutCard__img w-100 img-fluid" alt="about 01" />
					<p class="aboutCard__text textList w-100 mb-0 text-center">Free Gutter Evaluation</p>
				</div>
			</div>
			<div class="about__card aboutCard col-sm-6 col-lg-3">
				<div class="aboutCard__wrapper h-100">
					<img src="img/about-02.png" class="aboutCard__img w-100 img-fluid" alt="about 02" />
					<p class="aboutCard__text textList w-100 mb-0 text-center">Same Day Install Available</p>
				</div>
			</div>
			<div class="about__card aboutCard col-sm-6 col-lg-3">
				<div class="aboutCard__wrapper h-100">
					<img src="img/about-03.png" class="aboutCard__img w-100 img-fluid" alt="about 03" />
					<p class="aboutCard__text textList w-100 mb-0 text-center">Manufactured In The USA</p>
				</div>
			</div>
			<div class="about__card aboutCard col-sm-6 col-lg-3">
				<div class="aboutCard__wrapper h-100">
					<img src="img/about-04.png" class="aboutCard__img w-100 img-fluid" alt="about 04" />
					<p class="aboutCard__text textList w-100 mb-0 text-center">Service & Support Included</p>
				</div>
			</div>
		</div>
	</div>
</section>